In [1]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

In [2]:
# 1) How many students are there?
len(students)

14

In [3]:
# 2) How many students prefer light coffee?
light_drinkers = 0
student = students[0]

for student in students:
    if student['coffee_preference'] == 'light':
        light_drinkers += 1
        
light_drinkers

3

In [6]:
# 3) How many types of each pet are there?


#Step 3: determine the sequence to solve the problem for single student
#note: good place to begin is use a counter when counting
type_of_pets = 0

#now let's ask a question -- is this a data science student?
for student in students:
    if student['pets']=='species':
        type_of_pets += len(pets['species'])
    
type_of_pets

0

In [4]:
student = students[0]

#Step 3: determine the sequence to solve the problem for single student
#note: good place to begin is use a counter when counting
number_of_pets = 0

#now let's ask a question -- is this a data science student?
for student in students:
    if student['course']=='data science':
        number_of_pets += len(student['pets'])
    
number_of_pets

9

In [34]:
list.keys(species)

AttributeError: type object 'list' has no attribute 'keys'

### How many grades does each student have? Do they all have the same number of grades?

In [5]:
student = students[0]

student

{'id': '100001',
 'student': 'Ada Lovelace',
 'coffee_preference': 'light',
 'course': 'web development',
 'grades': [70, 91, 82, 71],
 'pets': [{'species': 'horse', 'age': 8}]}

In [6]:
len(student['grades'])

4

In [28]:
number_of_grades = []

for student in students:
    for grade in student['grades']:
        #number_of_grades += len(student['grades'])
        number_of_grades.append(grade)

number_of_grades

[70,
 91,
 82,
 71,
 75,
 73,
 86,
 100,
 70,
 89,
 69,
 65,
 73,
 66,
 83,
 92,
 78,
 98,
 85,
 65,
 76,
 70,
 96,
 81,
 69,
 94,
 89,
 86,
 87,
 79,
 90,
 99,
 74,
 99,
 93,
 89,
 82,
 92,
 91,
 65,
 70,
 92,
 65,
 99,
 100,
 86,
 91,
 87,
 80,
 70,
 68,
 98,
 73,
 99,
 86,
 98]

In [29]:
number_of_grades = 0

for student in students:
        number_of_grades += len(student['grades'])
        
number_of_grades

56

### What is each student's grade average?

In [31]:
student = students[0]

sum(student['grades'])/len(student['grades'])

78.5