In [4]:
greeting = "Hi, everybody!"
print(greeting)

Hi, everybody!

#This is a markdown...
##here's how it looks.

In [2]:
3 * 5

15

#Hello!

In [3]:
type(123)

int

In [6]:
type('hello')

str

In [9]:
type(True)

bool

In [10]:
#the return value of print is always none
x = print ('$1000000000')
type(x)

$1000000000

NoneType

In [12]:
x = 2 + 2
x

4

In [13]:
#parenthesis run a function
type("stuff")

str

In [14]:
# parenthesis mean 'run a function'. notice when parenthesis are absent...
print

In [15]:
#string literal 
"some string"

'some string'

In [16]:
x = "some string"
x

'some string'

In [17]:
#List literal
beatles = ["John", "Paul","George","Ringo"]
beatles

['John', 'Paul', 'George', 'Ringo']

VARIABLES: point to values and can re-point to other values

In [18]:
#What kind of "spells" can you do with variables?
#"Assignment"
#Assigning the variable x to point to the value of 5
favorite_number = 5
favorite_number

5

In [19]:
#assignment
name = "bob"
name

'bob'

In [20]:
#if a variable already exists, we can also point the variable to a new value
name = 'Batman'
name

'Batman'

In [26]:
#real world example of reassigning variables:

#scenerio: lunch time!
#when walk in door, what is bill?? 
total = 0
#when order iced tea, total includes iced tea
#new_value = old_value + something
total = total + 1.99

#order an appetizer
total = total + 5.99
total

7.98

In [28]:
#shorthadn for reassigning variable to old value
#friend orders lunch and orders iced tea
total += 1.99 # += is short ofr total = total + 1.99
total

11.96

In [29]:
## BOOLEANS:
total < 20

True

In [30]:
#Comparison operators
#compare values on the left and right and return Boolean
2 == 3

False

In [31]:
3==3

True

In [32]:
2 < favorite_number

True

In [33]:
2 > favorite_number

False

In [34]:
2 >= favorite_number

False

In [35]:
# != is not equal to
2 != 3

True

In [36]:
#IN operator check membership of value on the left IN the collection on the right
#collection could be string, list, tuple...
2 in [1,2,3,4]

True

In [37]:
3 not in [5,6,7]

True

In [ ]:
#to add cells, hit ESC and either 'b' to enter a cell below, or 'a' for above

In [40]:
"a" in "banana"

True

#LOGICAL OPERATORS
-not: switches the boolean value of a value
-and: making sure both predicates are true
-or: making sure at least one of the pieces is true

In [41]:
doing_python_right_now = True
currently_on_mars = False

In [42]:
doing_python_right_now and currently_on_mars

False

In [43]:
#any added false turns it false

In [44]:
#ORs expand our possibilities
doing_python_right_now or currently_on_mars

True

In [45]:
#When we combine logical operators: and, or, not (but == and not)
#we want to use parenthesis to enforce execution order

#a user can edit a post if they are logged in and either admin or author of that post
is_logged_in = True
is_admin = False
is_author = True

can_edit_post = is_logged_in and (is_admin or is_author)
can_edit_post

True

In [46]:
# MATHEMATICAL OPERATORS
# +, -, *, /, **

In [47]:
2**3 #two raised to the 3rd power

8

In [48]:
12/3

4.0

In [49]:
4 == 4.0

True

In [50]:
4 == 4.0000000001

False

In [51]:
#MODULO OPERATOR:: remainder operator
# 5 % 2 show read as "five dived by 2 leaves what value?"
5 % 2

1

In [52]:
#first number % second number == no remainder means
#the first number is evenly divisible by the second number
4 % 2 ==0

True

In [53]:
## // quotient
# 2 goes into 3 one full time
3 // 2

1

In [54]:
# 3 divided by two leaves 1 as the remainder
3 % 2

1

##STRINGS
-letters or numbers contained in double or single quotes

In [57]:
message = "It's been great to program with ya'll"
message

"It's been great to program with ya'll"

In [58]:
"""
"You miss 100% of the shots you don't take"-Wayne Gretsky
"""

'\n"You miss 100% of the shots you don\'t take"-Wayne Gretsky\n'

##backslash is an escape character
/n : new line character

In [62]:
# use case for triple quotes as a docstring (to add notation to coding)
def is_even(n):
    """returns a boolean if the input is an even number"""
    return n % 2 == 0

print (is_even(4))

True

In [63]:
len?

In [1]:
# ? : will show the information/type on the object/variable

In [2]:
len('hello')

5

In [3]:
#len is length...gives you the length of the characters

In [4]:
#String Operations

In [5]:
'Jen'=='Eyring'

False

In [6]:
"Jen"=="Jen"

True

In [7]:
"Jen"<"Zack"

True

true in that alphabetically, but note that python is also storing and sorting strings as numbers...just for future reference

#how to concat strings in python?

In [12]:
'jen' + '' + 'eyring'

'jeneyring'

In [13]:
'abc'* 3

'abcabcabc'

In [15]:
'2'+ str(1)

'21'

str takes any variable and will convert to string (not all objects can)

In [17]:
int('2') + 1

3

In [18]:
int('2.123')

ValueError: invalid literal for int() with base 10: '2.123'

In [19]:
float('2.123')

2.123

STRING FORMATTING

In [20]:
name = "World"

In [21]:
'Hello, %s!' % name #noting that something is going to be placed here...

'Hello, World!'

In [22]:
'Hello, {}!'.format(name)

'Hello, World!'

In [24]:
f'Hello {name}!'

'Hello World!'

#f meaning format

In [26]:
number = 10

In [28]:
f'Hello {number}'

'Hello 10'

STRING METHODS & INDEXING

#function is going to be listed first with () following
#method is going to be listed last with .method

In [30]:
#function
str(1)

'1'

In [31]:
#method
s = '    Hello, Codeup!    '

In [32]:
s.lower()

'    hello, codeup!    '

#functions class are more global and not attached to anything
#method class is always connected with a . to another function

In [34]:
s.lower()

'    hello, codeup!    '

In [35]:
str(1)

'1'

In [36]:
str(s)

'    Hello, Codeup!    '

In [37]:
s.strip()

'Hello, Codeup!'

#strip method takes out whitespace on the ends of strings, 
#not middle whitespace

In [39]:
s.isdigit()

False

#isdigit method checks if the variable is an int

In [42]:
'123'.isdigit()

True

In [43]:
s.strip().split(', ')

['Hello', 'Codeup!']

#.split creates two objects and makes it a list. 
#[] means a list
#told this pattern ',' to split the objects

In [45]:
(', ').join (['one', 'two', 'three'])

'one, two, three'

LISTS and LIST OPERATIONS

In [46]:
[1,2,3]

[1, 2, 3]

In [47]:
[1, 'two', 3.123456]

[1, 'two', 3.123456]

#lists aren't restricted to any object types

#lists CAN contain lists

In [50]:
[[1,2,3],[4,5,6],[7,8,9]]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [51]:
len([1,2,3])

3

In [52]:
len([[1,2,3],[4,5,6],[7,8,9]])

3

In [53]:
#lists can also be entered in iteraterally

In [56]:
#can add lists into a sequence, like for x in ___ .append/.delete/etc
storage_box=[]
for each_number in [0, 1, 2, 3, 4, 5]:
    storage_box.append('box')

In [55]:
storage_box

['box', 'box', 'box', 'box', 'box', 'box']

LIST COMPREHENSIONS

In [58]:
storage_box2=['box' for each_number in range(7)]

In [59]:
storage_box2

['box', 'box', 'box', 'box', 'box', 'box', 'box']

In [60]:
storage_box3 =['box'for each_number in range(4)]

In [61]:
storage_box3

['box', 'box', 'box', 'box']

In [62]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [63]:
storage_box4 = ['box' for each_element in ['1', '2', 123, 1.2345, 'string',['1',2],0]]

In [64]:
storage_box4

['box', 'box', 'box', 'box', 'box', 'box', 'box']

In [65]:
storage_box5 = ['box' for beans in ['1', '2', 123, 1.2345, 'string',['1',2],0]]

In [66]:
storage_box6 = ['box' for n in range(7)]

In [67]:
storage_box6

['box', 'box', 'box', 'box', 'box', 'box', 'box']

In [92]:
storage_box6 = [n * 2 for n in range(7)]

In [74]:
storage_box7 = ['box' * 2 for n in range(7)]

In [75]:
storage_box7

['boxbox', 'boxbox', 'boxbox', 'boxbox', 'boxbox', 'boxbox', 'boxbox']

In [76]:
storage_box7 = [n * 2 for n in range(7) if n % 2 == 0]

In [77]:
storage_box7

[0, 4, 8, 12]

In [87]:
storage_box8 = [n * 1 for n in range(7) if n % 2  == 1]

In [88]:
storage_box8

[1, 3, 5]

In [90]:
storage_box9 = [n *2 for n in range(100) if (n % 2 == 0) and (n % 3 ==0)]

In [91]:
storage_box9

[0, 12, 24, 36, 48, 60, 72, 84, 96, 108, 120, 132, 144, 156, 168, 180, 192]

LIST OPERATIONS

In [110]:
numbers = [1, 2, 3]

In [111]:
numbers.append(4)
numbers

[1, 2, 3, 4]

In [112]:
numbers.pop()
numbers

[1, 2, 3]

In [114]:
removed_element = numbers.pop()
removed_element

3

In [115]:
numbers

[1, 2]

In [116]:
len(numbers)

2

In [124]:
list_of_lists =[[['one', 'two', 'three'], 2, 3], [4, 5, 6], [7, 8, 9]]

In [125]:
print(list_of_lists[0])
print(list_of_lists[1])
print(list_of_lists[2])

[['one', 'two', 'three'], 2, 3]
[4, 5, 6]
[7, 8, 9]

In [126]:
list_of_lists[0][0]

['one', 'two', 'three']

In [127]:
list_of_lists[0][0][1]

'two'

In [129]:
list_of_lists[1:3] #index 1, go up to but not including index 3

[[4, 5, 6], [7, 8, 9]]

In [130]:
list_of_lists[1:] #just give index 1

[[4, 5, 6], [7, 8, 9]]

In [131]:
list_of_lists[:2]

[[['one', 'two', 'three'], 2, 3], [4, 5, 6]]

In [132]:
list_of_lists[1:2]

[[4, 5, 6]]

In [133]:
string_example = 'abcdefg'

In [135]:
string_example[0]

'a'

In [136]:
string_example[3:]

'defg'

In [137]:
string_example[-1]

'g'

In [138]:
list_of_lists

[[['one', 'two', 'three'], 2, 3], [4, 5, 6], [7, 8, 9]]

In [139]:
#slicing a list within a list

In [140]:
list_of_lists[0]

[['one', 'two', 'three'], 2, 3]

In [142]:
list_of_lists[0][1:]

[2, 3]

CONVERTING TO A LIST

In [147]:
range(7) 
#range is not storing 7 characters, 
#its storing what 7 characters WOULD be

range(0, 7)

In [144]:
type(range(7))

range

In [145]:
len(range(7))

7

In [149]:
#to store digits, it doesn't store the data but rather 
#an object that stores an idea or "recipe"
store = '000000000000000000000000000000000000000b'

In [150]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

#use the list function to turn anything into a list

In [152]:
list('abcdefg')

['a', 'b', 'c', 'd', 'e', 'f', 'g']

#with range, it doesn't take up much space, until we use
#list function (where it may hold more memory of objects)

In [153]:
list(map(str, [1, 2, 3]))

['1', '2', '3']

TUPLES ARE LISTS THAT DON'T CHANGE

In [156]:
my_tuple =(1, 2, 3)

In [157]:
my_tuple

(1, 2, 3)

In [158]:
my_tuple[2:]

(3,)

In [159]:
my_tuple.append(4)

AttributeError: 'tuple' object has no attribute 'append'

#tuple cannot be changed/appended

#but we can delete and reassign again

In [161]:
my_tuple = (2, 3, 4)

In [162]:
my_tuple

(2, 3, 4)

DICTIONARIES

#dictionaries are like labeled lists

In [165]:
my_dict = {'users': ['Bob', 'Adam', 'Sally', 'Jen', 'Mike'], 'roles': ['Admin', 'Reviewer', 'Commentor']}

In [166]:
len(my_dict)

2

In [167]:
#instead of using the lists positions (like 0, 1, 2,...)
#we will use labels...
my_dict[0]

KeyError: 0

In [168]:
my_dict['users']

['Bob', 'Adam', 'Sally', 'Jen', 'Mike']

In [169]:
my_dict['roles']

['Admin', 'Reviewer', 'Commentor']

In [170]:
my_dict2 = {'name': 'Codeup', 'age':4}

In [171]:
my_dict2['name']

'Codeup'

--to manipulate data within dictionaries--

1) add other aggregates

In [173]:
my_dict2['name'] + ' is cool'

'Codeup is cool'

In [174]:
#did not change dictionary
my_dict2

{'name': 'Codeup', 'age': 4}

In [175]:
#let's change the dictionary...
my_dict2['age']= my_dict2['age'] + 1

In [176]:
my_dict2

{'name': 'Codeup', 'age': 5}

In [177]:
my_dict2['age']='five'

In [178]:
my_dict2

{'name': 'Codeup', 'age': 'five'}

In [181]:
my_dict2['age'] += 1 
#won't work since changed dict 
#to strg ('five') but will work with INT

TypeError: can only concatenate str (not "int") to str

In [183]:
nested_dict = {'fruit_shops':{'location': ['NW', 'NE', 'SW', 'SE'], 'age': [10, 14, 13, 12], 'manager': ['Bob', 'Sally', 'Jim'],
                             'review':{ 'daily':[1230, 1512, 1233, 5235]}}, 'bike_shops': 'None'}

In [184]:
nested_dict

{'fruit_shops': {'location': ['NW', 'NE', 'SW', 'SE'],
  'age': [10, 14, 13, 12],
  'manager': ['Bob', 'Sally', 'Jim'],
  'review': {'daily': [1230, 1512, 1233, 5235]}},
 'bike_shops': 'None'}

In [185]:
len(nested_dict)

2

In [186]:
#why only 2 elements in that nested dict?
#let's look at the key()
nested_dict.keys()

dict_keys(['fruit_shops', 'bike_shops'])

In [187]:
#this shows the two elements it counts (which is
#the highest level of these lists/dictionaries)
nested_dict['fruit_shops']

{'location': ['NW', 'NE', 'SW', 'SE'],
 'age': [10, 14, 13, 12],
 'manager': ['Bob', 'Sally', 'Jim'],
 'review': {'daily': [1230, 1512, 1233, 5235]}}

In [188]:
nested_dict['bike_shops']

'None'

In [189]:
#using method .keys() to find what elements are in each elements 
#of the nested dictionary
nested_dict['fruit_shops'].keys()

dict_keys(['location', 'age', 'manager', 'review'])

In [191]:
nested_dict['fruit_shops']['review']

{'daily': [1230, 1512, 1233, 5235]}

In [192]:
nested_dict['fruit_shops']['review']['daily']

[1230, 1512, 1233, 5235]

In [193]:
nested_dict['fruit_shops']['review']['daily'][3]

5235