## Advanced Dataframes:

In [1]:
import pandas as pd
import numpy as np

np.random.seed(123)

In [2]:
# Create list of values for names column.

students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# Randomly generate arrays of scores for each student for each subject.
# Note that all the values need to have the same length here.

math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

In [3]:
students

['Sally',
 'Jane',
 'Suzie',
 'Billy',
 'Ada',
 'John',
 'Thomas',
 'Marie',
 'Albert',
 'Richard',
 'Isaac',
 'Alan']

In [4]:
# Construct the DataFrame using the above lists and arrays.

df = pd.DataFrame({'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades,
                   'classroom': np.random.choice(['A', 'B'], len(students))})

In [5]:
df

       name  math  english  reading classroom
0     Sally    62       85       80         A
1      Jane    88       79       67         B
2     Suzie    94       74       95         A
3     Billy    98       96       88         B
4       Ada    77       92       98         A
5      John    79       76       93         B
6    Thomas    82       64       81         A
7     Marie    93       63       90         A
8    Albert    92       62       87         A
9   Richard    69       80       94         A
10    Isaac    92       99       93         B
11     Alan    92       62       72         A

### We can construct df from lists and dictionaries.

#### Example of creating a dataframe from a dictionary:

In [6]:
pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}
             
#where keys are the column names (ie. A, B)
#values are the data points (ie 1,2,3.  4,5,6)

SyntaxError: unexpected EOF while parsing (2196276259.py, line 4)

#### Example of creating a dataframe from a list of lists

In [ ]:
pd.DataFrame([[1, 2, 3], [4, 5, 6]])

#### Example of creating a dataframe from a numpy array

In [ ]:
array = np.array([[1, 2, 3], [4, 5, 6]])

pd.DataFrame(array, columns=['a', 'b', 'c'])

##note: column names had to be specified when using arrays

### Using Pydataset:

#### We may have to use datasets from a dataset library (like pydataset).

#### Here is how you do that:

In [ ]:
## First, type:   pip install pydataset    into terminal

In [7]:
from pydataset import data

In [11]:
# then, use this code to check if valid: data(df_string_name, show_doc=True)